*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: darkred;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  width: 100%;
}

.logo {
  color: snow;
  margin-right: auto;
  cursor: pointer;
  transition: all 0.4s;
  padding-top: 12px;
  padding-bottom: 12px;
}

.logo:hover {
  color: greenyellow;
  transform: rotate(180deg);
}

nav ul {
  display: flex;
  padding: 12px;
}

li {
  list-style-type: none;
  padding: 12px;
}

a {
  color: snow;
  text-decoration: none;
  transition: all .4s;
}

a:hover {
  color: greenyellow;
}

.btn {
  font-size: 1em;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: darkgreen;
  background-color: greenyellow;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  padding-top: 100px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.desc {
  font-size: 20px;
  font-weight: bold;
}

.img-anya {
  width: 100%;
  max-width: 500px;
  height: auto;
  padding: 12px;
  /* background-color: pink; */
}

.parallax {
  background-image: url("assets/img/anya-smug.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: snow;
  background-color: pink;
  padding: 15px;
}

.mt-12 {
  margin-top: 12px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* min-height: 75vh; */
  gap: 18px;
}

.card-item {
  width: 30%;
  text-align: center;
  color: darkgreen;
  background: greenyellow;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 100, 0, 0.2);
}

img {
  max-width: 100%;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  /* font-weight: bold; */
}

.card-desc {
  font-size: 20px;
  font-weight: bold;
}

.footer {
  position: relative;
  background-color: darkred;
  color: snow;
  text-align: center;
  padding: 16px;
}

@media screen and (max-width: 500px) {
  .card {
    flex-direction: column;
    height: auto;
  }

  .card-item {
    width: 90%;
  }

  .parallax {
    background-position: center;
    height: 181vh;
  }

  .container {
    padding-top: 30px;
  }

  img {
    width: 95%;
    max-width: 310px;
  }

  nav {
    position: fixed;
    bottom: 0;
    color: snow;
    background-color: darkred;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer {
    position: static;
    margin-bottom: 65px;
  }
}
